html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/images/bg.jpg);
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: underline;
}

header a {
    text-align: right;
}

.logo {
    height: 20px;
}

.logo a {
    text-decoration: none;
}

.sidebar ul {
    padding-bottom: 20px;
}

.sidebar figure img {
    width: 100%;
    border-radius: 50%;
    margin-top: 20px;
}

.work-lists {
    display: flex;
    flex-wrap: wrap;
}

.asside-wrapper {
    height: 100%;
    padding-bottom: 20px;
    margin: 0 0 -22px 0;
    display: flex;
    flex-direction: column;
    background-color: #337ab7;
}

.content {
    background-color: #f5f5f5;
    height: min-content;
    padding: 20px 10px;
}

.content h2 {
    background-color: #b2d9fb;
    margin-left: -10px;
    padding-left: 10px;
}

.contact {
    padding-left: 10px;
}

.contact-info {
    color: #fff;
}

.contact-lists {
    padding-left: 0;
    list-style-type: none;
}

.contact-lists li {
    padding-bottom: 10px;
}

.contact-lists li h4 {
    color: #fff;
    font-weight: 600;
}

.contact-lists li a {
    color: #fff;
}

.skills-lists {
    list-style-type: none;
    padding-left: 0;
}

.work-lists {
    padding-left: 5px;
}

.work-lists div {
    padding-left: 5px;
}


/* .work-lists h4 {
    padding-left: 10px;
} */

.work-lists p {
    font-size: 15px;
}

.work-lists img {
    max-width: 250px;
    padding: 5px;
}

footer {
    text-align: center;
    background-color: #337ab7;
    height: 80px;
}

.footer-wrapper {
    padding: 10px 0;
}

footer p {
    margin: 0;
    padding-top: 10px;
}

.footer {
    background-color: #337ab7;
    height: auto;
}

.navbar {
    margin-bottom: 0;
}

.language-JS {
    font-family: "Anonymous Pro", monospace;
}